<noscript>
  <meta http-equiv="refresh" content="0; url={{ .Permalink }}"/>
</noscript>

<script>
  (function () {
    // Esegui il reindirizzamento immediato solo alla radice, altrimenti reindirizza subito
    if (window.location.pathname !== '/') {
      window.location.replace('{{ .Permalink }}');
      return;
    }

    // Funzione per ottenere la lingua preferita del browser
    var getFirstBrowserLanguage = function () {
      var nav = window.navigator;
      var browserLanguagePropertyKeys = ['language', 'browserLanguage', 'systemLanguage', 'userLanguage'];
      var language;

      if (Array.isArray(nav.languages)) {
        for (var i = 0; i < nav.languages.length; i++) {
          language = nav.languages[i];
          if (language && language.length) {
            return language;
          }
        }
      }

      // Supporto per altre proprietà ben conosciute nei browser
      for (var j = 0; j < browserLanguagePropertyKeys.length; j++) {
        language = nav[browserLanguagePropertyKeys[j]];
        if (language && language.length) {
          return language;
        }
      }

      return 'en';
    };

    // Ottieni la lingua preferita del browser
    var preferLang = getFirstBrowserLanguage();

    // Se la lingua preferita è italiana, reindirizza a /it/, altrimenti a /en/
    if (preferLang.indexOf('it') !== -1) {
      window.location.replace('/it/');
    } else {
      window.location.replace('/en/');
    }
  })();
</script>
